<table class="table">
   <thead>     
   </thead>
   <tbody>
      <tr>
         <td>
            <p style="color: blue; font-weight:600;">{{this.mail}}</p>
         </td>
         <td>
            <p style="color: brown;">{{this.fecha}}</p>
         </td>
         <td>
            <p style="color: green; font-style: italic">{{this.msg}}</p>
         </td>
               </tr>
   </tbody>
</table>